<div class="blog_form">

  <%= form_for @post do | post | %>

    <div class="error_explanation">
      <% if @post.errors.any? %>
        <h2>
          <%= pluralize(@post.errors.count, "error") %>
        </h2>
          <ul>
            <% @post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
    </div>
   <% end %> 

     <div class="blog_form_input">
      <%= post.label :title, "Add Title" %>
      <%= post.text_field :title %>
    </div>

    <div class="blog_form_input">
      <%= post.label :blog_post, "Blog Post" %>
      <%= post.text_area :blog_post %>
    </div>

    <div class="action">
      <%= post.submit %>
    </div>

  <% end %>
</div>
