<div class="header">
  <h1>blog post</h1>
</div>

<div class="post_list">
    <h3><%= @post.title %></h3>
    <ul>
      <li>
        <%= @post.blog_post %>
      </li>
    </ul>
</div>

<div>

  <h3>comments</h3>

    <% @post.comments.each do |comment| %>
      <p>
        <%= comment.comment %> <br />
        <% if comment.user != nil %>
          <!-- Comment written by: <%= comment.user.first_name %> -->
          added on: <%= comment.created_at %>
        <% end %>
      </p>
    <% end %>

</div>
